@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
           @* <div class="signin-image">
                <figure><img src="~/files/images/signin-image.jpg" alt="sing up image"></figure>
                <div class="d-flex justify-content-between">

                    <a asp-controller="Account" asp-action="Register">Create an account</a>
                    <a asp-controller="Account" asp-action="ForgetPassword">Forget Password</a>

                </div>
            </div>*@

            <div class="signin-form">
                <h2 class="form-title">Reset Password</h2>

                <div asp-validation-summary="All" class="text-danger mt-2"></div>

                <form asp-action="ResetPassword" method="POST" class="register-form" id="login-form">

                    <div class="form-group">
                       
                        <input hidden asp-for="Email" id="pass" placeholder="New Password" />
                    </div>
                    <div class="form-group">
                        
                        <input hidden asp-for="Token" id="pass" placeholder="New Password" />
                    </div>

                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="NewPassword" id="pass" placeholder="New Password" />
                    </div>
                    
                     <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="ConfirmPassword" id="pass" placeholder="Confirm Password" />
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Reset Password" />
                    </div>
                </form>
               
            </div>
        </div>
    </div>
</section>